/* Some default styling to get you started */
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.mobile-btn {
  color: #1a76d0;
  display: none;
}


/* Add desktop styles here */
.navbar {
  background-color:#ffda12;
  color: #1a76d0;
  font-size: 18px;
  margin-bottom: 40px;
}

.navbar li {
  margin: 15px
}

.navbar li a {
  padding:15px;
  color: #1a76d0;
  text-decoration: none;
}

.navbar li a:hover {
  padding:15px;
  background: #1a76d0;
  color: #fff;
  text-decoration: none;
}

#maincontent {
  margin: 40px;
  margin-top:50px;
}


.cards {
  box-sizing: border-box;
  background:#1a76d0;
  color: white;
  padding: 10px;
  border: 10px solid white;
  text-align: center;
  width: 25%;
  float: left;
}

.cards:hover {
  background: #082745;;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add mobile styles here */
@media only screen and (max-width: 767px) {
  .mobile-btn {
    display: inline-block;
    margin:0px
  }

  .navbar ul {
    background: #082745;
  }
  .navbar li a {
    padding:15px;
    color: #1a76d0;
    text-decoration: none;
  }
  .navbar li a:hover {
    padding:15px;
    background: #1a76d0;
    color: #fff;
    text-decoration: none;
  }

  .cards {
    font-size: 8px;
  }

  .column {
    width: 100%;
  }
}
